<main class="form-wrapper">
    <form class="form">
        <h2 class="title">New Transaction</h2>
        <div class="fields">
            <label class="group-field">
                Transaction
                <div class="select-wrapper">
                    <select name="type-transaction"  class="field select-type-transaction" required>
                        <option value="" selected  disabled>Choose the type of transaction</option>
                        <option value="Deposit">Deposit</option>
                        <option value="Withdrawal">Withdrawal</option>
                    </select>
                </div>
            </label>
        </div>
    </form>
</main>
