<main class="form-wrapper">
    <form class="form">
        <h2 class="title">New Transaction</h2>
        <div class="fields">
            <label class="group-field">
                Transaction
                <div class="select-wrapper">
                    <select name="type-transaction"  class="field select-type-transaction" required>
                        <option value="" selected  disabled>Choose the type of transaction</option>
                        <option value="Deposit">Deposit</option>
                        <option value="Withdrawal">Withdrawal</option>
                    </select>
                </div>
            </label>
            <label class="group-field">
                Value
                <div class="input-wrapper">
                    <input type="number" min="0.01" step="0.01" name="value" 
                    class="field value-input-transaction" required>
                </div>
            </label>

            <button class="confirm-transaction-button">Confirm</button>
        </div>
    </form>
</main>
